<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head">
    <title id="pageTitle">User Maintenance - Add/Edit</title>
    <!-- other elements you want to reference in your layout -->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header"  th:include="fragments/header :: header" >
  </header>
  
  <aside class="main-sidebar"  th:include="fragments/header :: sidebar(module='User Maintenance Add/Edit')" >
  	
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>User Maintenance - Add 
        <button class="btn btn-info pull-right" type="submit">Save</button> 
        <button class="btn btn-info pull-right" type="submit" style="margin-right:5px;">Clear All</button></h1>
      </section>

    <!-- Main content -->
   <section class="content">
        <div class="box box-primary" style="padding:20px;">
          <div class="box-header">
            <h3 class="box-title">User Profile</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-4 col-md-2">
                <div class="form-group text-center">
				  <img id="blah" src="https://support.plymouth.edu/kb_images/Yammer/default.jpeg" alt="" style="width:150px; height:150px;"> 
				  <input type="file" onchange="#" class="hidden">
				  <br>
				  <input class="btn btn-sm btn-primary" type="submit" value="Upload Image" name="Upload" style="width:150px;border-radius: 0px 0px 4px 4px;">
                </div>
			  </div>
              <div class="col-sm-8 col-md-10" style="padding-left:60px;">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>User Name</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Password</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>User Name</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Password</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Last Name</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                </div>
                        <input class="form-control-1 pull-right datepicker-click" id="" type="text">
                      </div>
            </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Gender</div>
                      <div>
                        <select class="form-control-1">
                          <option selected="selected">Gender1</option>
                          <option>Gender2</option>
                          <option>Gender3</option>
                          <option>Gender4</option>
                          <option>Gender5</option>
                          <option>Gender6</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Telephone Number</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Tel Number Extension</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Mobile Phone</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Email</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Skype ID</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>We Chat</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>QQ</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Line</div>
                      <div>
                        <input class="form-control-1" type="text" disabled="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div>Role</div>
                      <div>
                        <select class="form-control-1">
                          <option selected="selected">Role1</option>
                          <option>Role2</option>
                          <option>Role3</option>
                          <option>Role4</option>
                          <option>Role5</option>
                          <option>Role6</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4"></div>
                </div>
              </div>
			  <br><br>
			  <div class="row form-group" style="padding:2px 32px 2px 32px;">
				<br><br>
					<label><p>Miscellaneous Permission</p></label>
					<p>
						</p>
                            <div class="icheckbox_flat-green checked" aria-checked="true" aria-disabled="false" style="position: relative;">
                              <input class="flat-red" style="position: absolute; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins>
                            </div>
						User adding
					<p></p>
					<p>
						</p><div class="icheckbox_flat-green checked" aria-checked="true" aria-disabled="false" style="position: relative;"><input class="flat-red" style="position: absolute; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>
						User editing/dekete
					<p></p>
					<p>
						</p><div class="icheckbox_flat-green checked" aria-checked="true" aria-disabled="false" style="position: relative;"><input class="flat-red" style="position: absolute; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>
						Customer adding
					<p></p>
					<p>
						</p><div class="icheckbox_flat-green checked" aria-checked="true" aria-disabled="false" style="position: relative;"><input class="flat-red" style="position: absolute; opacity: 0;" type="checkbox"><ins class="iCheck-helper" style="background: rgb(255, 255, 255); margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0%; top: 0%; width: 100%; height: 100%; display: block; position: absolute; opacity: 0;"></ins></div>
						Customer editing/delete
					<p></p>
				  </div>
			  </div>
            </div>
          </div>
        </div>
      </section>
      
      
  
</div>
  
 <aside  th:include="fragments/footer :: footer" >
  </aside>
  </div>
</body>
</html>